@import "../common/util";

.UserInput{
    max-width: 500px;
    width: 100%;
    height: 100%;
    &__Music{
        &__Player{
            margin-top: 5%;
            margin-left:10%;
            width: 80%;
            max-width: 400px;
            bottom:0;
        }
        &__Title{
            height: 25%;
            margin-bottom:10%;
            &__Bottom{
                width:70%;
                background: linear-gradient(to top, #fff9e0 50%, transparent 50%);
            }
        }
        &__Title h2{
            margin: 5px;
        } 
        &__Item{
            &__Area{
                &__Card{
                    margin-left:10%;
                    width: 80%;
                    &__Newbutton{
                        position: relative;
                        left: 80%;
                        height: 0;
                    }
                    &__Title{
                        overflow:hidden;
                        text-overflow: hidden;
                        white-space: nowrap;
                    }
                    &__Bottom{
                        display:flex;
                        justify-content: space-around;
                    }
                }
            }
        }
    }
    &__Food{
        &__Title{
            height: 25%;
            &__Bottom{
                width:70%;
                background: linear-gradient(to top, #92b4ec 50%, transparent 50%);
            }
        }
        &__Title h2{
            margin: 5px;
        }  
        &__Item{
            &__Area{
                &__Card{
                    margin-left:10%;
                    width: 80%;
                    &__Newbutton{
                        position: relative;
                        left: 80%;
                        height: 0;
                    }
                    &__Title{
                        overflow:hidden;
                        text-overflow: hidden;
                        white-space: nowrap;
                    }
                    &__Bottom{
                        display:flex;
                        justify-content: space-around;
                    }
                }
            }
        }
    }
    &__Activity{
        &__Title{
            height: 25%;
            &__Bottom{
                width:70%;
                background: linear-gradient(to top, #fff9e0 50%, transparent 50%);
            }
        }
        &__Title h2{
            margin: 5px;
        }
        &__Item{
            &__Area{
                &__Card{
                    margin-left:10%;
                    width: 80%;
                    &__Newbutton{
                        position: relative;
                        left: 80%;
                        height: 0;
                    }
                    &__Title{
                        overflow:hidden;
                        text-overflow: hidden;
                        white-space: nowrap;
                    }
                    &__Bottom{
                        display:flex;
                        justify-content: space-around;
                    }
                }
            }
        }
    }
    &__Start{
        &__Title{
            height: 25%;
        }
        &__Title h2{
            margin: 5px;
        } 
        &__Item{
            height: 70%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            &__Mascot{
                max-width: 400px;
                width: 90%;
            }
        }
    }
}