@import "../common/util";

.UserInput{
    max-width: 500px;
    width: 100%;
    height: 100%;
    &__Music{
        &__Title{
            height: 25%;
        }
        &__Title h2{
            margin: 5px;
        } 
        &__Item{
            &__Area{
                &__Card{
                    &__Bottom{
                        display:flex;
                        justify-content: space-around;
                    }
                }
            }
        }
    }
    &__Food{
        &__Title{
            height: 25%;
        }
        &__Title h2{
            margin: 5px;
        }  
        &__Item{
            &__Area{
                &__Card{
                    width:80%;
                    &__Bottom{
                        display:flex;
                        justify-content: space-around;
                    }
                }
            }
        }
    }
    &__Activity{
        &__Title{
            height: 25%;
        }
        &__Title h2{
            margin: 5px;
        }
        &__Item{
            &__Area{
                &__Card{
                    width:80%;
                    &__Bottom{
                        display:flex;
                        justify-content: space-around;
                    }
                }
            }
        }
    }
    &__Start{
        &__Title{
            height: 25%;
        }
        &__Title h2{
            margin: 5px;
        } 
        &__Item{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            &__Card{
                width:80%;
                &__Bottom{
                    display:flex;
                    justify-content: space-around;
                }
            }
        }
    }
}