@import "../common/util";

.UserInput{
    max-width: 500px;
    width: 100%;
    height: 100%;
    &__Music{
        &__Title{
            height: 250px;
        }
        &__Title h2{
            margin: 5px;
        }   
        &__Item{
            display: flex;
            justify-content: center;
            align-items: center;
            &__Mascot{
                max-width: 400px;
                width: 60%;
            }
        }
    }
    &__Food{
        &__Title{
            height: 250px;
        }
        &__Title h2{
            margin: 5px;
        }   
        &__Item{
            display: flex;
            justify-content: center;
            align-items: center;
            &__Mascot{
                max-width: 400px;
                width: 60%;
            }
        }
    }
    &__Activity{
        &__Title{
            height: 250px;
        }
        &__Title h2{
            margin: 5px;
        }   
        &__Item{
            display: flex;
            justify-content: center;
            align-items: center;
            &__Mascot{
                max-width: 400px;
                width: 60%;
            }
        }
    }
    &__Start{
        &__Title{
            height: 250px;
        }
        &__Title h2{
            margin: 5px;
        } 
        &__Item{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            &__Mascot{
                max-width: 400px;
                width: 60%;
            }
        }
    }
}