@import "../common/util";

.history {
  display: flex;
  justify-content: center;
  position: relative;
  height: calc($viewport-height - 56px);

  &__title {
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    width: 90%;
    height: 7%;
    top: 2%;
    margin: 0;
    padding: 5px;
    z-index: 2;
    &--text {
      font-size: 20px;
      margin-left: 20px;
    }
  }
  &__list {
    position: relative;
    width: 100%;
    height: calc(($viewport-height - 56px)*0.8);
    padding: 0 5%;
    overflow: auto;
    margin-top: 10%;
    &--scroll{
      height: 100%;
      // overflow: auto;
    }
    .MuiCircularProgress-root{
      color: #92b4ec;
    }
  }
  &__card {
    margin-bottom: 5%;
  }

}
.history-inner{
  height: 100%;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}

// .title {
//   &--top {
//     padding-bottom: 5px;
//   }
// }
