@import "../common/util";

.historyPage {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  position: relative;
  .historyPageTitle {
    align-self: flex-start;
  }

  .historyList {
  }
}
