@import './common.scss';

$food-list-height: calc(
  $viewport-height - $top-height - $bottom-height - $title-height
);

@mixin custom-scrollbar {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    padding-left: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #85858524;
  }
}

.food-list {
  @include custom-scrollbar();

  height: $food-list-height;

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
