@import '../common/_util';

$padding-top: 10px;
$padding-side: 20px;
$top-height: 40px;
$bottom-height: 46.5px;

$music-player-height: calc($viewport-height - $top-height - 110px);
$album-height: 200px;
$current-music: 64px;
$playlist-height: calc(
  $music-player-height - $album-height - $bottom-height - $padding-top
);
$list-height: calc($playlist-height - $current-music - 20px);

$playlist-background: #b5c9db;

@mixin custom-scrollbar {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    padding-left: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #85858524;
  }
}

.music-player {
  width: 100%;
  height: $music-player-height;

  &__inner {
    margin: 0 $padding-side;
    height: 100%;
    background-color: $playlist-background;
    border-radius: 20px 20px 0 0;
    box-shadow: 2px -2px 5px 0px #aaa;
  }
}

.album-cover {
  width: 100%;
  height: $album-height;
  border-radius: 20px 20px 0 0;
  position: relative;

  &__darken {
    width: 100%;
    height: $album-height;
    background-color: rgba(0, 0, 0, 0.28);
    border-radius: 20px 20px 0 0;
  }

  &__play-button {
    background-color: rgba(255, 255, 255, 0.515);
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    margin-bottom: 15px;
    margin-left: 15px;
  }
}

.playlist {
  height: $playlist-height;
  padding: $padding-top $padding-side 0 $padding-side;

  &__current-music {
    height: $current-music;
  }

  &__list {
    height: $list-height;
    margin-top: 10px;
    margin-bottom: 10px;
    @include custom-scrollbar();
  }
}

.current-music {
  &__title {
    font-size: 2em;
    font-weight: 600;
  }

  &__artist {
    font-weight: 100;
    padding-left: 3px;
  }
}

.list {
  &__item {
    border-bottom: 1px solid black;
    padding: 10px;
    margin-right: 10px;

    &:hover {
      cursor: pointer;
    }

    &--active {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}

.item {
  &__title {
    font-weight: 600;
  }

  &__artist {
    font-size: 0.9em;
    font-weight: 100;
    margin-left: 10px;
  }
}
