@import '../common/_util';
@import './RecommendPage.scss';

$album-height: 200px;
$current-music: 64px;
$playlist-height: calc(100% - $album-height - 10px);
$list-height: calc(100% - $current-music - 20px);

@mixin custom-scrollbar {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    padding-left: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #85858524;
  }
}

.music-player {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 82%;

  &__inner {
    margin: 0 $padding-side;
    height: 100%;
    background-color: $playlist;
    border-radius: 20px 20px 0 0;
    box-shadow: 2px -2px 5px 0px #aaa;
  }
}

.album-cover {
  width: 100%;
  height: $album-height;
  border-radius: 20px 20px 0 0;
  position: relative;
  background-color: rgb(215, 215, 215);

  & img {
    height: 100%;
  }

  &__play-button {
    background-color: rgba(255, 255, 255, 0.515);
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    margin-bottom: 15px;
    margin-left: 15px;
  }
}

.playlist {
  height: $playlist-height;
  padding: 10px 20px 0 20px;

  &__current-music {
    height: $current-music;
  }

  &__list {
    height: $list-height;
    margin-top: 10px;
    margin-bottom: 10px;
    @include custom-scrollbar();
  }
}

.current-music {
  &__title {
    font-size: 2em;
    font-weight: 600;
  }

  &__artist {
    font-weight: 100;
    padding-left: 3px;
  }
}

.list {
  &__item {
    border-bottom: 1px solid black;
    padding: 10px;
    margin-right: 10px;

    &:hover {
      cursor: pointer;
    }

    &--active {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}

.item {
  &__title {
    font-weight: 600;
  }

  &__artist {
    font-size: 0.9em;
    font-weight: 100;
    margin-left: 10px;
  }
}
