@import './_common.scss';

$title-width: calc(100% - 30px);
$padding-size: 15px;

@mixin border-option {
  border-radius: 5px;
  box-shadow: 5px 5px 8px -4px #9e9e9e;
}

@mixin custom-scrollbar {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    padding-left: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #85858524;
  }
}

.recommend-result-title {
  position: absolute;
  z-index: 1000;
  width: $title-width;
  padding: $padding-size;

  & div {
    @include border-option();
    background-color: white;
    padding: $padding-size;
    font-weight: 600;
    font-size: 1.2em;
  }
}

.recommend-result-map {
  width: 100%;
  height: 100%;

  &__menu {
    @include border-option();
    position: absolute;
    z-index: 1000;
    top: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  &__drawer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1100;
    width: 100%;
    height: 80px;
    max-width: 500px;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 -5px 6px -4px #9e9e9e;
    cursor: pointer;

    &--swipeable {
      top: -80px;
    }
  }

  &__marker {
    position: relative;
    bottom: 90px;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px rgb(185, 185, 185);
    padding: 10px 10px 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.marker {
  &__button {
    display: flex;
    justify-content: end;

    & button {
      background-color: unset;
      border: unset;
      font-size: 0.7em;
      padding: 0;
      cursor: pointer;
    }
  }

  &__title {
    font-size: 0.9em;
    font-weight: 600;
  }

  &__address {
    font-size: 0.7em;
  }
}

.menu {
  &__item {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: 600;
    width: 48px;
    padding: 10px 2px;
    cursor: pointer;

    &--active {
      background-color: $blue;
      color: white;
    }
  }

  &--left {
    margin-left: $padding-size;
  }

  &--right {
    right: 0;
    margin-right: $padding-size;
    font-size: 0.7em;
  }
}

.drawer {
  &__inner {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 600;
    padding: 22px 20px 20px;
  }

  &__list-inner {
    height: 100%;

    &__desc {
      font-size: 0.8em;
      color: gray;
      margin-left: 20px;
    }
  }

  &__category-select {
    display: flex;
    padding-top: 20px;
    height: calc(100% - 40px);
  }
}

.category-select {
  &__category-list {
    width: 22%;
    border-right: 1px solid rgb(210, 210, 210);
    padding-left: 20px;
    &__item {
      padding: 10px 5px;
      cursor: pointer;
      color: gray;
      font-size: 0.9em;

      &--active {
        color: white;
        background-color: #82a5dc9d;
        font-weight: 900;
      }
    }
  }

  &__store-list {
    @include custom-scrollbar();
    width: 78%;

    & .store-item {
      &__title {
        font-size: 1.1em;
      }

      &__address {
        font-size: 0.8em;
      }

      &__img-wrapper {
        width: 50px;
        height: 50px;
      }
    }
  }
}

.plan {
  &__button {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    border-radius: unset !important;
    box-shadow: unset !important;
    font-size: 1em !important;
    font-weight: 600 !important;
  }

  &__select-inner {
    height: calc(100% - 40px);
    display: flex;
  }

  &__desc {
    height: 20px;
    padding: 10px 0;
  }
}

.plan-music {
  &__inner {
    height: 100%;
    display: flex;
  }

  &__selected {
    width: 40%;
    padding: 20px 0;

    &__inner {
      margin-left: 15px;
    }

    & img {
      width: 80%;
      box-shadow: 4px 4px 5px -3px rgb(175, 175, 175);
    }
  }

  &__list {
    @include custom-scrollbar();
    width: 60%;

    &__item {
      padding: 15px 10px;
      border-bottom: 1px solid rgba(230, 230, 230, 0.46);
      cursor: pointer;

      & div:first-child {
        font-size: 0.9em;
        font-weight: 600;
      }

      & div:last-child {
        font-size: 0.8em;
        color: gray;
      }

      &--active {
        background-color: rgba(183, 183, 183, 0.136);
      }
    }
  }
}
