@import '../common/_util';

$padding-top: 10px;
$padding-side: 20px;
$category-height: 200px;
$category-img-height: 160px;
$category-desc-height: calc($category-height - $category-img-height);

.recommend-title {
  height: 100px;
  font-size: 2em;
  font-weight: 900;
  padding: 0 $padding-side;
  padding-top: $padding-top;
}

.recommend-content {
  height: calc($viewport-height - 46.5px - 40px);
  position: relative;
}

.recommend-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 5px 0;

  &__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: gray;
    font-size: 0.9em;
  }
}

/* reload */
.loading-element {
  display: flex;
  justify-content: center;
}

/* category card */
.category-card {
  width: 80%;
  // max-width: $category-img-height;
  height: $category-height;
  margin: 10px;
  border: 1px solid gray;
  box-shadow: 3px -3px 5px 0px #e2e2e2;

  &__img-wrapper {
    height: $category-img-height;
  }

  &__category-desc {
    display: flex;
    flex-direction: column;
    height: $category-desc-height;
    justify-content: center;
  }
}

.category-desc {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;

    & span {
      font-weight: 600;
    }
  }

  &__like {
    display: flex;
    justify-content: flex-end;

    & .MuiIconButton-root {
      padding: 0;

      &:first-child {
        margin-right: 10px;
      }
    }
  }
}
