@import '../common/util';

$title-padding: 25px;

.Guide {
  max-width: 500px;
  width: 100%;
  height: 100%;
  &__First {
    &__Title {
      height: 20%;
      padding: $title-padding;
      &__Bottom {
        width: 70%;
        //background: linear-gradient(to top, #92b4ec 50%, transparent 50%);
      }
    }
    &__Title h2 {
      margin: 5px;
    }
    &__Alarm {
      background-color: #fff9e0;
      border-radius: 20px;
      box-shadow: 1px 2px 5px -2px rgb(0 0 0 / 15%);
      height: 30px;
      width: 100px;
      padding: 5px;
      text-align: center;
      font-size: x-small;
      font-weight: bold;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 10px;
      right: 20px;
    }
    &__Alarm p {
      margin-left: 3px;
    }
    &__Item {
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      &__Mascot {
        max-width: 400px;
        width: 90%;
      }
    }
  }
  &__Second {
    &__Title {
      height: 20%;
      padding: $title-padding;
      &__Bottom {
        width: 70%;
        //background: linear-gradient(to top, #fff9e0 50%, transparent 50%);
      }
    }
    &__Title h2 {
      margin: 5px;
    }
    &__Item {
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      &__Mascot {
        max-width: 400px;
        width: 90%;
      }
    }
  }
  &__Third {
    &__Title {
      height: 16%;
      padding: $title-padding;
      &__Bottom {
        width: 70%;
        //background: linear-gradient(to top, #92b4ec 50%, transparent 50%);
      }
    }
    &__Title h2 {
      margin: 5px;
    }
    &__Item {
      margin-top: 10px;
      height: 70%;
      display: flex;
      flex-flow: column;
      align-items: center;
      &__Card {
        width: 80%;
        margin-left: 6%;
        &__Newbutton {
          position: relative;
          left: 80%;
          height: 0;
        }
        &__Title {
          overflow: hidden;
          text-overflow: hidden;
          white-space: nowrap;
        }
        &__Bottom {
          display: flex;
          justify-content: space-around;
          &__Artist {
            max-width: 200px;
          }
        }
      }
      &__Uparrow {
        position: relative;
        left: 11%;
        margin-top: 7%;
        margin-bottom: 1%;
      }
      &__Downarrow {
        position: relative;
        left: 27%;
        margin-top:2%;
        margin-bottom:5%;
      }
    }
  }
  &__Forth {
    &__Title {
      height: 20%;
      padding: $title-padding;
      &__Bottom {
        width: 70%;
        //background: linear-gradient(to top, #92b4ec 50%, transparent 50%);
      }
    }
    &__Title h2 {
      margin: 5px;
    }
    &__Item {
      height: 60%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      &__Mascot {
        max-width: 400px;
        width: 90%;
      }

      & button {
        margin-top: 50px;
        width: 250px;
      }
    }
  }
}
