@import "../common/util";

.Guide{
    max-width: 500px;
    width: 100%;
    height: 100%;
    &__First{
        &__Title{
            height: 25%;
        }
        &__Title h2{
            margin: 5px;
        }    
        &__Item{
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            &__Mascot{
                max-width: 400px;
                width: 90%;
            }
        }
    }
    &__Second{
        &__Title{
            height: 25%;
        }
        &__Title h2{
            margin: 5px;
        }  
        &__Item{
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            &__Mascot{
                max-width: 400px;
                width: 90%;
            }
        }
    }
    &__Third{
        &__Title{
            height: 25%;
        }
        &__Title h2{
            margin: 5px;
        }  
        &__Item{
            height: 70%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            &__Card{
                width:80%;
                &__Bottom{
                    display:flex;
                    justify-content: space-around;
                }
            }
        }
    }
    &__Forth{
        &__Title{
            height: 25%;
        }
        &__Title h2{
            margin: 5px;
        }  
        &__Item{
            height: 70%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            &__Mascot{
                max-width: 400px;
                width: 90%;
            }
        }
    }
}