@import "../common/util";

$detail-map-height: 100%;
$player-rswp-height: 40%;
.detail-info {
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc($viewport-height - 56px);
  width: 100%;
  &__map {
    width: 100%;
    height: $detail-map-height;
    // border-radius: 0 0 50px 50px;
    // box-shadow: 0px 10px 5px -6px #adadad;
    position: absolute;
    top: 0;
  }
  &__title {
    z-index: 999;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 2%;
    left: 5%;
    width: 90%;
    &--other{
      position: relative;
      display: flex;
      align-self: center;
      align-items: center;
      width: 90%;
      height: 7%;
      top: 2%;
      margin: 0;
      z-index: 2;
      padding: 12px 5px;
      box-shadow: 5px 5px 8px -4px #9e9e9e !important;
      &--text{
        font-size: 20px;
        margin-left: 20px;
      }
    }
    &--exit {
      &.MuiButtonBase-root {
        border: none;
        width: 1em;
        padding: 0;
      }
      &.MuiButtonBase-root:hover {
        background-color: transparent;
        width: 1em;
      }
      path {
        color: #212121;
      }
    }

    &--feedback {
      flex-wrap: wrap;
      padding: 1%;
      width: 5%;
      box-shadow: 0px 2px 5px 0px #d6d6d6;
      &.MuiButtonBase-root {
        font-weight: bold;
        background-color: #92b4ec;
      }
    }

    &--box {
      display: flex;
      width: 60%;
      height: 50px;
      background-color: white;
      border-radius: 5px;
      padding: 5px;
      box-shadow: 0px 2px 5px 0px #d6d6d6;

    }

    &--align {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 2%;
    }
    &--text {
      font-weight: bold;
      font-size: 20px;
    }
  }
  &__control {
    position: relative;
    align-items: center;
    top: 14%;
    z-index: 2;
    width: 40px;
    margin-left: 24px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
    &--button {
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      font-size: 0.8em;
      font-weight: 600;
      width: 48px;
      padding: 10px 2px !important;
      cursor: pointer;
    }
    
    .MuiButtonBase-root {
      background-color: white;
      color: black;
      width: 52px;
      border-radius: 5px;
    }
    .css-sghohy-MuiButtonBase-root-MuiButton-root:hover{
      background-color: #92B4EC !important;
    }

  }
  &__music{
    &--playlist{
      z-index: 1;
      position: relative;
      padding: 5%;
      overflow: scroll;
      .list-items p{
        margin: 0;
      }
      .list-items p:nth-child(1){
        font-weight: bold;
      }
      .list-items p:nth-child(2){
        margin: 0;
        margin-bottom: 5%;
      }
    }
    .PlayerRSWP {
      background-color: #b5c9db !important;
      position: relative;
      width: 100%;
      height: $player-rswp-height;
      top: 3%;
      // z-index: 999;
    }

    ._SliderRSWP{
      width: 90%;
      left: 5%;

      div{
        div{
          background-color: white !important;
        }
      }
    }
    ._ContentRSWP{
      height: calc(100% - 4px);
      align-self: flex-start;
      div {
      }
    }
    .rswp__active{
      border: none;
      width: 90%;
      margin-left: 5%;
      padding: 0;
      margin-top: 5%;
      div{
        p:first-child{
          span{
            font-weight: bold;
            font-size: 17px;
          }
        }
      }
    }
  }

  &__card {
    width: 100%;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
  }
  &__drawer {
    &--title {
      font-size: 17px;
      font-weight: bolder;
      position: fixed;
      width: 80%;
      height: 30px;
      background-color: white;
      justify-self: center;
    }

    &--list {
      margin-top: 30px;
      overflow: scroll;
    }
  }

  .MuiButtonGroup-grouped:not(:last-of-type) {
    // border: none;
  }
}

.detail-info::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.detail-info__drawer--list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.detail-info-inner {
  height: 100%;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.MuiDrawer-root {
  .MuiPaper-root {
    height: calc($viewport-height * 0.6);
    padding: 40px;
    border-radius: 20px 20px 0 0;
    overflow: scroll;
  }

  .MuiPaper-root::-webkit-scrollbar {
    display: none;
  }
}

.rswp__active > a > img {
  display: none;
}

._ActionsRSWP{
  display: none;
}

.css-qb3kwf{
  width: 100%;
}

.css-s7d5x3-MuiButtonGroup-root .MuiButtonGroup-grouped:not(:last-of-type){
  // border: none !important;
}

div.MuiButtonGroup-root{
  box-shadow: 10px 5px 8px -4px #9e9e9e !important; 
  // border: #212121 10px solid;
}