@import "../common/util";

.search {
  display: flex;
  justify-content: center;
  position: relative;
  //height: calc($viewport-height - $map-height);

  &__map {
    width: 100%;
    height: $map-height;
    border-radius: 0 0 50px 50px;
    box-shadow: 0px 10px 13px -8px #ADADAD;
    position: relative;
  }

  &__range {
    margin-top: 10px;
  }
}

.search-inner {
  height: 100%;
  padding: 0 30px;
}