@import "../common/util";

.search {
  display: flex;
  justify-content: center;
  position: relative;
  height: calc($viewport-height - $map-height - 56px);

  &__map {
    width: 100%;
    height: $map-height;
    border-radius: 0 0 50px 50px;
    box-shadow: 0px 10px 5px -6px #ADADAD;
    position: relative;
    background-color: rgb(230, 230, 230);
  }

  &__title {
    font-weight: 600;
    color: #444;
  }

  &__range {
    margin-top: 20px;
  }
}

.search-inner {
  height: 100%;
  padding: 0 30px;
}

.title {
  &--top {
    padding-bottom: 5px;
  }
}