@import "../common/util";

.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;


    &__Logo{
        max-width: 400px;
        width : 70%;
        margin-bottom: 8%;
    }

    &__Mascot{
        max-width: 400px;
        width:80%;
        margin-bottom: 14%;
    }

    &__GoogleLogin{
        max-width: 400px;
        width: 80%;
        justify-content: center;
    }
}
